.TodoList {
    margin: 4rem auto;
    align-items: center;
    padding: 2rem 3rem 3rem;
    max-width: 500px;
    background: #ff6666;
    color: #fff;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
  }
  
  .TodoList ul {
    margin-top: 2.6rem;
    list-style: none;
  }
  
  .todolist-title {
      position: relative;
      left: 20px;
    width: 250px;
    height: 200px;
  }
  
  .TodoList h1 span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    margin-left: 3px;
    margin-top: 0.2rem;
  }
  