.template1 {
    position: absolute;
    width: 400px;
    height: 500px;
    left: 20px;
}
.template2 {
    position: absolute;
    top: 150px;
    width: 400px;
    height: 500px;
    right: 40px;
}